<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="">
</head>
<body>
<h3>Sign In</h3>
<form action="signin" method="POST">
{% csrf_token %}
    <label for="">Username</label>
    <input type="text" id="Username" name="username" placeholder="Enter Your Username" Required><br>

    <label for="">Password</label>
    <input type="password" id="pass1" name="pass1" placeholder="Enter Your Password" Required><br>



    <button type="submit">Sign In</button>

</form>
<script src="" async defer></script>

</body>
</html>